.default-layout{
    .sf-content-pages{
        margin-bottom: 120px;
        &__sidebar{
            background: var(--_c-gray-accent);
            .sf-list{
                &__item{
                    margin: 15px 0;
                    .sf-menu-item{
                        &__label{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        &__title{
            color: var(--_c-green-primary-lighten);
        }
        &__category-title{
            color: var(--_c-green-primary-lighten);
            font-family: 'Poppins-Bold';
        }
        &__content{
            p{
                font-size: 14px;
            }
            .sf-tabs {
                &__title{
                    font-family: 'Poppins-Bold';
                    font-size: 14px;
                    &--active{
                        color: var(--_c-green-primary-lighten);
                        border-color: var(--_c-green-primary-lighten);
                    }
                }
                &__content{
                    .sf-button{
                        color: var(--c-white);
                        background-color: var(--_c-green-primary-lighten);
                        border: 1px solid var(--_c-green-primary-lighten);
                        text-transform: none;
                        box-shadow: none;
                        border-radius: 3px; 
                        font-size: 13px;
                        font-family: 'Poppins-Medium';
                        padding: 10px;
                        font-weight: 500;
                        &:hover{
                            background-color: transparent;
                            color: var(--_c-dark-secondary);
                            border-color: var(--c-light);
                        }
                    }
                }
            }
            
        }
        &__section--is-active{
            @media screen and (max-width: 1024px){
                transform: none!important;
            }
        }
    }
    #my-account{
        .sf-content-pages{
            &__sidebar{
                @media screen and (min-width: 1024px){
                    max-width: 280px;
                    width: 100%;
                }
            }
        }
    }
    #o-order-confirmation{
        h1{
            font-family: 'Poppins-Bold';
            font-size: 28px;
        }
        img{
            margin: 40px 0;
        }
        header{
            text-align: center;
        }
        hr{
            border: 0;
            background-color: var(--c-light);
            height: 1px;
        }
        p{
            font-size: 14px;
            text-align: center;
            line-height: normal;
            small{
                font-style: italic;
                font-size: 10px;
            }
        }
        .wrapper__notifications-button{
            text-transform: none;
            margin: 70px auto;
            font-size: 13px;
            border-radius: 3px;
            padding: 15px 25px;
        }
        .wrapper__buttons{
            margin-top: 30px;
            margin-bottom: 100px;
            .sf-button{
                width: fit-content;
                padding: 0;
                border: 0;
                margin: 0 auto;
                font-size: 14px;
                font-family: 'Poppins-Regular';
                &:hover{
                    box-shadow: none;
                    text-decoration: underline;
                }
            }
        }
    }
}