.m-product-gallery {
   @include for-desktop{
    max-width: 550px;
   }
    width: 100%;
    margin-right: 15px;
    flex: 1;
    .sf-gallery{
      &-video__thumb{
        &:before {
            position: absolute;
            background: url('/assets/icons/play-button-overlay.webp') center no-repeat;
            background-size: contain;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99999;
            pointer-events: none;
        }  
      }
       &__thumbs{
         button{
            border: 1px solid var(--_c-gray-accent);
            border-radius: 2px;
         }
        @include for-desktop{
          max-width: 70px;
          max-height: 420px;
          overflow: auto;
          button{
            width: 70px;
            max-height: 70px;
            scroll-snap-align: ceneter;
            .sf-image{
              height: 70px;
            }
          }
         }
       }
       &__stage{
         @include for-tablet{
           margin: 20px auto;
         }
         .glide{
            &__slide{
                .sf-image{ 
                  height: 420px;
                }
            }
         }
       }
    }
  }