.sf-modal{
    .sf-overlay{
        background-image: radial-gradient(#0575E6 0%, #021B79 100%);
    }
    .modal-content{
        .sf-image{
            margin: 35px 0;
            width: 200px;
            margin-bottom: 0;
        }
        h1{
            margin-bottom: 0;
        }
        .sf-input{
            input{
              font-size: 14px;
              &:focus{
                    outline: none;
                }
            }
            &__wrapper{
                &:focus{
                    outline: none;
                }
            }
        }
        .sf-button{
            max-width: 230px;
            width: 100%;
            margin: 5px auto;
            font-weight: normal;
        }
    }
}

.m-modal-terms-and-conditions{
    .sf-modal__container{
        max-width: 767px;
        width: 100%;
        p{
            font-size: 14px;
        }
    }
}

.m-modal-authentication{
    .sf-modal{
        .sf-modal__container{
            .sf-modal__content{
                form{
                    margin-bottom: 10px;
                }
                .aside{
                    margin-bottom: 10px;
                    .aside__heading{
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}